<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
  <div class="container">
    <%= link_to "ip_management", root_path, id: "logo" %>
    <nav>
    <ul class="nav pull-right">
      <li><%= link_to "index",    root_path %></li>
      <li><%= link_to "割り当て", new_ip_addr_usage_path %></li>
    </ul>
    </nav>
  </div>
</div>
</header>

